body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEFEFE !important;
}

nav {
    background-color: #FFF;
}

nav li a {
    color: black !important;
    font-size: 1rem;
}

.nav-link:hover {
    color: #00660C !important;
}

.nav-link {
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: rgb(27, 25, 25);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

nav .brand {
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: #00660C !important;
    font-weight: bold;
}

nav .brand:hover {
    color: #00660C !important;
    text-decoration: none;
}

nav .sub-brand {
    font-family: 'Playfair Display';
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #7CAF8D !important;
}

.hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#restaurantCarousel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 95vh; 
    object-fit: cover;
}

.hero-content {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    background-color: rgba(29, 116, 29, 0.7);
    padding: 10px;
    border-radius: 0;
}

.hero-content h2 {
    font-size: 3rem; 
    line-height: 1.2; 
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    object-fit: cover;
    position: absolute;
    top: 5;
    left: 0;
}

.hero-image h2 {
    font-size: 3rem;
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
}

.hero-image p {
    position: relative;
    z-index: 4;
    color: white;
    margin: 0;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-image h2,
.hero-image p {
    background-color: rgba(29, 116, 29, 0.705);
    padding: 20px;
    border-radius: 0px;
    width: 100%;
    max-width: 1300px;
}

.line {
    width: 50%;
    background-color: #00660C;
    height: 0.5vh;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 200px;
    display: block;
}

.menu-food-image{
    width: 100%;
    height: 30vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu-card {
    width: 100%;
    height: 50vh;
    font-family: 'Inter', sans-serif;
    border: none !important;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-category {
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .menu-category {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .menu-category {
        width: 30%;
    }
}

.name {
    font-size: 27px;
}

.price {
    color: #2d7836;  
    font-size: 20px;  
}

.description {
    font-size: 0.9rem;
    color: rgb(138, 138, 138);
    margin: 0;
    padding: 0 3%;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    width: 100%; 
}

.card-hover-effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.view-menu-btn {
    width: auto;
    margin: auto;
    background-color: white;
    padding: 0.5rem 2rem;
    border: 3px solid #00660C !important;
}

.view-menu-btn a {
    font-family: 'Montserrat';
    color: black !important;
    text-decoration: none !important;
    display: inline-block; 
}

.view-menu-btn:hover {
    transform: scale(1.10);
}

.about-section {
    width: 100vw;
    padding: 80px 5%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #00660C !important;
    color: white !important;
}

.about-section img {
    width: 400%;
    max-width: 800px;
    height: auto;
    display: block;
    margin-right: -65%;
    object-fit: cover;
}

.about-line {
    width: 100%;
    background-color: white !important;
    height: 0.3vh;
    margin: 10px 1px;
    border-radius: 10px;
    max-width: 300px;
    display: block;
}

.btn-primary {
    width: auto;
    margin: auto;
    background-color: #00660C !important;
    padding: 0.5rem 2rem;
    border: 3px solid white !important;
}

.btn-primary a {
    font-family: 'Montserrat';
    color: white !important;
    text-decoration: none !important;
    display: inline-block; 
}

.btn-primary:hover {
    transform: scale(1.10);
}

.contact-section {
    padding: 60px 0;
    text-align: center;
}

.contact-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-section .col-12, 
.contact-section .col-sm-6, 
.contact-section .col-md-4 {
    display: flex;
    align-self: stretch;
    width: 100%;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Inter', sans-serif;
    border: none !important;
    background-color: white !important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 350px;
    flex-grow: 1;
}

.contact-card p {
    flex-grow: 1;
}

.contact-card img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.book-btn {
    width: auto;
    margin: auto;
    background-color: #00660C !important;
    padding: 0.5rem 2rem;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.book-btn a, 
.book-btn a:visited, 
.book-btn a:hover, 
.book-btn a:active, 
.book-btn a:focus {
    font-family: 'Montserrat', sans-serif;
    color: white !important; 
    text-decoration: none !important;
    font-weight: bold;
    display: inline-block; 
}

.book-btn:hover {
    transform: scale(1.10);
}

.btn-wrapper a {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 100%; 
    }
}

footer {
    background-color: #2B3237 !important;
    padding: 3rem 2rem;
}

.company-about {
    width: 40%;
    padding: 0 2rem;
}

.contact-info {
    width: 40%;
    padding: 0 1rem;
    margin-left: -1rem;
}

.opening-hours{
    font-size: small;
    width: 80%;
    padding: 0;
    /* border: 1px solid #00660C; */
}

.schedule {
    width: 30%;
    /* border: 1px solid #00660C; */
    padding-right: -2rem;
}

footer h4 {
    color: #FFF;
    font-family: 'Playfair Display';
    margin-bottom: 1rem;
}


footer p {
    color: #F5F5F5;
    font-family: 'Inter';
}

.hover-card-values:hover, .hover-card-staff:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
